<!--start image-header-->
<div class="image-header">
  <div class="container">
    <div class="text d-flex align-items-center ">
      <div class="data">
        <h2 class="mb-4">About</h2>
        <button>Gymate-About</button>
      </div>
    </div>
  </div>

</div>

<!--end image-header-->

<!--start who-we-are-->
<div class="who-we-are " style="margin-top:150px">
  <div class="container">
    <div class="row">
      <img class="col-md-6 col-sm-12" src="assets/images/about-5.jpg">
      <div class="col-md-6 col-sm-12 p-5 ">
        <h2 >
          We Will Give You Strength and Health
        </h2>
        <p class="py-3">
          Gymat an unknown printer took a galley type and scraey aretea bled make a type specimen book. May has survived not onlyive centuries but also the leap electronic.Gymatn unknown printer took a galley of type and scraey aretea.
        </p>
        <ul>
          <li>Gymat an unknown printer</li>
          <li>Scraey aretea bled makea type</li>
          <li>Bookhas survived not onlyive</li>
          <li>Centuries but also the leap electronic.</li>
        </ul>
        <button style="margin-top:40px;background-color:#ff0336;padding:10px;border:none;outline:none;font-weight:bold;color:#fff">CONTACT WITH US<img  class="ps-2" src="assets/images/arrow-right.svg"></button>
        
      </div>
    </div>
  </div>

</div>
<!--end who we are-->


<!--start history-->
<div class="history" style="margin:150px 0">
  <div class="container" >
    <div class="row" >
      <div class="col-md-6 d-flex align-items-center col-sm-12 text-center ">
        <div>
          <span class="icon" >
            <i class="bi bi-clock-history" style="font-weight:bold;font-size:80px"></i>
          </span>
            <h2 class="my-3">
              Our History
            </h2>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit Exercitation veniam consequat.
            </p>
        </div>
      </div>
      <div class="col-md-6  col-sm-12 img ">
    
          <img   src="assets/images/about-3.jpg">
        
      </div>
      <div class="col-md-6  col-sm-12  img">
          <img   src="assets/images/about-4.jpg"> 
      </div>
      
      <div class="col-md-6 d-flex align-items-center col-sm-12 text-center ">
        <div>
          <span class="icon" >
            <i class="bi bi-check2-square" style="font-weight:bold;font-size:80px"></i>
          </span>
            <h2 class="my-3">
              Our Mission
            </h2>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit Exercitation veniam consequat.
            </p>
        </div>
      </div>
    </div>
    
  </div>

</div>

<!--end history-->